In [2]:
print("Hello PIAIC") #String

Hello PIAIC

In [3]:
print(123) #Integer

123

In [5]:
print(2.8) #Float

2.8

In [4]:
print(123 , "hello ada love") #Both

123 hello ada love

In [6]:
type("hello type")

str

In [7]:
type(23)

int

In [8]:
type(2.7)

float

In [9]:
type("234")

str

In [10]:
print('hello singles')

hello singles

In [38]:
print("hamza" , 123 , 3.5 , sep="@@@@")

hamza@@@@123@@@@3.5

In [42]:
print("THis is our first class", end=" ")
print("THis is our second class")
print("THis is our first class", end=" ")
print("THis is our second class")
print("THis is our first class", end=" ")
print("THis is our second class")
print("THis is our first class", end=" ")
print("THis is our second class")
print("THis is our first class", end=" ")
print("THis is our second class")
print("THis is our first class", end=" ")
print("THis is our second class")
print("THis is our first class", end=" ")
print("THis is our second class")
print("THis is our first class", end=" ")
print("THis is our second class")

THis is our first class THis is our second class
THis is our first class THis is our second class
THis is our first class THis is our second class
THis is our first class THis is our second class
THis is our first class THis is our second class
THis is our first class THis is our second class
THis is our first class THis is our second class
THis is our first class THis is our second class

# Variables

In [11]:
name = "Nasir Hussain"

In [12]:
print(name)

Nasir Hussain

In [13]:
name = "Hamza khan"

In [14]:
print(name)

Hamza khan

In [15]:
id(name)

140087918132656

In [18]:
number = 5

In [19]:
print(number)

5

In [20]:
number = 4.7

In [21]:
print(number)

4.7

In [23]:
no_1  = 5
no_2  = 19

In [24]:
no_1 + no_2

24

In [26]:
Del = 345
Del

345

In [37]:
_del_l_ = 56