Tupples

In [1]:
# tupples are immutable while Lists are mutable

In [2]:
myTupple = (1,2,3,4,5,6,7)

In [3]:
myTupple

(1, 2, 3, 4, 5, 6, 7)

In [5]:
myTupple[:4]

(1, 2, 3, 4)

In [6]:
del myTupple[3]

TypeError: 'tuple' object doesn't support item deletion

In [7]:
myTupple[4]="update"

TypeError: 'tuple' object does not support item assignment

In [8]:
#Packing
cities = ("khi","lhr", "multan")

In [15]:
#Unpacking
largest, bigger, small = cities

ValueError: not enough values to unpack (expected 4, got 3)

In [10]:
largest

'khi'

In [11]:
bigger

'lhr'

In [12]:
small

'multan'

In [13]:
largest = "asadsd"

In [16]:
alist = [34,45,67]

In [17]:
a,b,c = alist

In [18]:
print(a,b,c)

34 45 67

For Loops

In [20]:
#Task
#to print your name ten times

In [23]:
print("nasir")
print("nasir")
print("nasir")
print("nasir")
print("nasir")
print("nasir")
print("nasir")
print("nasir")
print("nasir")
print("nasir")
print("nasir")
print("nasir")

nasir
nasir
nasir
nasir
nasir
nasir
nasir
nasir
nasir
nasir
nasir
nasir

In [25]:
for a in range(10):
    print(a, "nasir")

0 nasir
1 nasir
2 nasir
3 nasir
4 nasir
5 nasir
6 nasir
7 nasir
8 nasir
9 nasir

In [26]:
for a in range(5,10):
    print(a, "nasir")

5 nasir
6 nasir
7 nasir
8 nasir
9 nasir

In [30]:
for a in range(0,10,2):#(start,end-1,step)
    print(a, "nasir")

0 nasir
2 nasir
4 nasir
6 nasir
8 nasir

In [31]:
for a in range(1,10,2):#(start,end-1,step)
    print(a, "nasir")

1 nasir
3 nasir
5 nasir
7 nasir
9 nasir

In [33]:
for a in range(10,0,-1):#(start,end-1,step)
    print(a, "nasir")

10 nasir
9 nasir
8 nasir
7 nasir
6 nasir
5 nasir
4 nasir
3 nasir
2 nasir
1 nasir

In [40]:
for name in ["khi","lhr", "multan"]:
    print(name)

khi
lhr
multan

In [35]:
for character in "String":
    print(character)

S
t
r
i
n
g

In [41]:
# Pass , Break and Continue

In [44]:
for a in range (10):
    if a==5:
        break
    print(a)

0
1
2
3
4

In [46]:
friends= ["a",'b','c','d','e','f','g']

for friend in friends:
    if friend!= "e":
        print("continue and enjoy party")
        
    else:
        print("party is over")
        break

continue and enjoy party
continue and enjoy party
continue and enjoy party
continue and enjoy party
party is over

In [47]:
for a in range (10):
    if a==5:
        continue
    print(a)

0
1
2
3
4
6
7
8
9

In [49]:
for a in range (10):
    pass

In [52]:
tableNo = int(input("Enter the table number"))
for num in range(1,11):
    print(f"{tableNo} * {num} = {tableNo*num}")

Enter the table number 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [53]:
for tables in range(2,10, 2):
    print("=========")
    for num in range(1,11):
        print(f"{tables} * {num} = {tables*num}")

=========
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
=========
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
=========
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
=========
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [56]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ",
"Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " +a_last_name)
full_names

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

In [57]:
"pakistan".upper()

'PAKISTAN'

In [58]:
"PAKISTAN".lower()

'pakistan'

#Dictionary

In [60]:
myDic = {}

In [61]:
type(myDic)

dict

In [62]:
len(myDic)

0

In [68]:
myDic ={"name":"Asd", "age": 23, "degree":"BS", "cell":"45454545"}

In [69]:
myDic["name"]

'Asd'

In [70]:
myDic["age"]

23

In [71]:
myDic["degree"]

'BS'

In [72]:
#methods in dictionary are keys(), values(), items()

In [78]:
for k,v in myDic.items():
    print(f"the key is {k},and the value is {v}")

the key is name,and the value is Asd
the key is age,and the value is 23
the key is degree,and the value is BS
the key is cell,and the value is 45454545

In [76]:
for k in myDic.keys():
    print(k)

name
age
degree
cell

In [77]:
for k in myDic.keys():
    print(myDic[k])

Asd
23
BS
45454545

In [79]:
for k in myDic.values():
    print(k)

Asd
23
BS
45454545

List in List

In [91]:
a = [11,22,33,44]
b = [55,66,77,88,a]
c = ["apple", "orange", a,b]
c

['apple', 'orange', [11, 22, 33, 44], [55, 66, 77, 88, [11, 22, 33, 44]]]

In [81]:
c[2]

[11, 22, 33, 44]

In [82]:
c[3]

[55, 66, 77, 88]

In [83]:
c[3][2]

77

In [84]:
c[3][1:]

[66, 77, 88]

In [85]:
del c[3][1]

In [86]:
c

['apple', 'orange', [11, 22, 33, 44], [55, 77, 88]]

In [87]:
r = ["asd"]
r.remove("asd")

In [88]:
r

[]

In [89]:
c[2].remove(44)

In [90]:
c

['apple', 'orange', [11, 22, 33], [55, 77, 88]]

In [92]:
# list in list
# dict in list
# tuple in list
# list in dic
# dic in dic
# tuple in dic
# tuple in tuple
# list in tuple
# dic in tuple

Dictionary in List

In [94]:
aa = [11,22,33, myDic]
aa

[11, 22, 33, {'name': 'Asd', 'age': 23, 'degree': 'BS', 'cell': '45454545'}]

In [95]:
aa[3]["age"]

23

In [96]:
del aa[3]["age"]

In [97]:
aa

[11, 22, 33, {'name': 'Asd', 'degree': 'BS', 'cell': '45454545'}]

DYS ======>>> Tuple in list

List in dictionary

In [98]:
dd = {'names':['a','b','c','d','e','f','g','h'] }

In [99]:
dd['names']

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [100]:
dd['names'][4]

'e'

In [101]:
dd['names'].remove("g")

In [102]:
dd

{'names': ['a', 'b', 'c', 'd', 'e', 'f', 'h']}

dictionary in dictionary

In [103]:
qq = {"names":myDic}

In [104]:
qq

{'names': {'name': 'Asd', 'degree': 'BS', 'cell': '45454545'}}

In [105]:
qq['names']['cell']

'45454545'

In [106]:
tt = {"name":"Saylani", "age":40, "name":"wajahat"}

In [107]:
tt

{'name': 'wajahat', 'age': 40}

In [111]:
tt["hello"]="python"

In [112]:
tt

{'name': 'wajahat', 'age': 40, 'hello': 'python'}